@use "./dimensions.scss";
@use "./flex.scss";
@use "./spacing.scss";
html,
body,
#app,
main.v-main {
  font-family: "JetBrains Mono", monospace;
  position: absolute;
  height: 100%;
  width: 100%;
}
