@use "sass:map";

$unit: 8px;
$margins: (
  "m": "margin",
  "m-t": "margin-top",
  "m-r": "margin-right",
  "m-b": "margin-bottom",
  "m-l": "margin-left",
);
$paddings: (
  "p": "padding",
  "p-t": "padding-top",
  "p-r": "padding-right",
  "p-b": "padding-bottom",
  "p-l": "padding-left",
);

@for $i from 1 through 100 {
  @each $shorthand, $longhand in $margins {
    .#{$shorthand}-#{$i} {
      #{$longhand}: $unit * ($i);
    }
  }
  @each $shorthand, $longhand in $paddings {
    .#{$shorthand}-#{$i} {
      #{$longhand}: $unit * ($i);
    }
  }
  .m-x-#{$i} {
    margin-left: $unit * ($i);
    margin-right: $unit * ($i);
  }
  .m-y-#{$i} {
    margin-top: $unit * ($i);
    margin-bottom: $unit * ($i);
  }
  .p-x-#{$i} {
    padding-left: $unit * ($i);
    padding-right: $unit * ($i);
  }
  .p-y-#{$i} {
    padding-top: $unit * ($i);
    padding-bottom: $unit * ($i);
  }
}
